:root {
    --padding: 16px;
    --gap: 16px;
    --text-color: white;
    --dashboard-bg-color: #008cd4;
    --page-background-color: #e0e7f0;
    --border-radius: 10px;
}

@font-face {
    font-family: roboto;
    src: url(assets/font/Roboto-Regular.ttf);
}

*,
html,
body,
h1,
h2 {
    margin: 0px;
    padding: 0px;
}

html,
body {
    background-color: var(--page-background-color);
    height: 100%;
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-rows: 20ch 1fr 1fr;
    grid-template-columns: 30ch 2fr 1fr;

}

.dashboard {
    background-color: var(--dashboard-bg-color);
    grid-area: 1/1/4/1;
    padding: var(--padding);
    /* grid settings */
    display: grid;
    gap: var(--gap);
    grid-template-rows: repeat(3, min-content);
}

.dashboard .app-title {
    display: grid;
    grid-template-columns: 2rem 20ch;
    justify-items: start;
    align-items: center;
    color: var(--text-color);
    gap: var(--gap);
}

.dashboard .links {
    /* display: grid; */
    /* grid-template-rows: repeat(auto-fit, 1.5rem); */
    gap: var(--gap);
}

.dashboard a {
    display: grid;
    justify-items: start;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
    grid-template-columns: 1rem 20ch;
    gap: var(--gap);
}


.header {
    background-color: azure;
    grid-area: 1/2/1/4;

    /* Grid settings */
    /* display: grid;
    grid-template-rows: 1fr 2fr; */
}

/* .header-top {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: var(--padding);
    gap: 30px;
}

.header-top div {
    display: grid;
    gap: var(--gap);
} */

/* .header-top .item1 {
    grid-template-columns: 2rem 2fr 1fr;
}

.header .item2 {
    grid-template-columns: repeat(3, 1fr);
}


.header-top input {
    border: 1px solid rgb(202, 202, 202);
    border-radius: 15px;
}


.user-profile {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 30px;
} */


.projects {
    grid-area: 2/2/4/2;
    padding: var(--padding);
    gap: var(--gap);

    /* Grid Settings */
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.card-list {
    gap: var(--gap);

    /* Grid Setting */
    display: grid;
    grid-template-columns: repeat(2, 450px);
}

.card {
    border-radius: 10px;
    overflow: hidden;
    width: 450px;
    height: 250px;
    background-color: white;

    /* Grid Settings */
    display: grid;
    grid-template-columns: 15px 1fr;
}

.card-content {
    padding: var(--padding);
    text-align: start;
    text-decoration: none;

    /* Grid Setting */
    display: grid;
    grid-template-rows: 2rem 10rem 2rem;
}

.card-color-decoration {
    background-color: #fcb624;
}

.card-actions {
    /* Grid Settings*/
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    justify-content: end;
    gap: var(--gap);
}

.card-actions img {
    height: 20px;
}

.news {
    grid-area: 2/3/2/4;
    gap: var(--gap);
    padding: var(--padding);

    /* Grid Settings */
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.news-board {
    gap: var(--gap);
    padding: var(--padding);
    background-color: white;
    border-radius: var(--border-radius);
    display: grid;
}

.news-card {
    overflow: hidden;
    padding: var(--padding);
    display: grid;
    grid-template-rows: 2rem 3rem;
}

.news-card h2 {
    text-wrap-mode: nowrap;
}

.division {
    height: 2px;
    background-color: gray;
    border-radius: 10px;
}

.trending {
    background-color: rgb(107, 90, 107);
    grid-area: 3/3/4/4;
}