/* RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* CONTENT */

:root {
    --padding: 16px;
    --gap: 16px;
    --text-color: white;
    --dashboard-bg-color: #008cd4;
    --page-background-color: #e0e7f0;
    --border-radius: 10px;
}

@font-face {
    font-family: roboto;
    src: url(assets/font/Roboto-Regular.ttf);
}

html,
body {
    background-color: var(--page-background-color);
    height: 100%;
    font-family: roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: bold;
}

h4 {
    font-size: 1rem;
    font-weight: bold;
}

.container {
    display: grid;
    grid-template-rows: 20ch 1fr 1fr;
    grid-template-columns: 30ch 2fr 1fr;

}

.dashboard {
    background-color: var(--dashboard-bg-color);
    grid-area: 1/1/4/1;
    padding: var(--padding);
    /* grid settings */
    display: grid;
    gap: 64px;
    grid-template-rows: repeat(3, min-content);
}

.dashboard .app-title {
    display: grid;
    grid-template-columns: 2rem 20ch;
    justify-items: start;
    align-items: center;
    color: var(--text-color);
    gap: var(--gap);
}

.link-list {
    display: grid;
    gap: var(--gap);
}

.link-list img {
    height: 1.15rem;
}

.dashboard a {
    display: grid;
    justify-items: start;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.15rem;
    color: var(--text-color);
    grid-template-columns: 1rem 20ch;
    gap: var(--gap);
}


.header {
    background-color: white;
    grid-area: 1/2/1/4;
    gap: var(--gap);
    padding: var(--padding);

    /* Grid settings */
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header>div {
    gap: var(--gap);


    /* Grid Settings */
    display: inline-grid;
    overflow: hidden;
    grid-template-columns: 1.5fr 1fr;
}

.header img {
    height: 25px;
}

.search-area {
    gap: var(--gap);
    justify-content: start;
    align-items: center;

    /* Grid Settings */
    display: grid;
    grid-template-columns: min-content 1fr;
}

.search-area input {
    height: 2rem;
    border-radius: 16px;
    border: none;
    background-color: var(--page-background-color);
}


.user-notifications {
    gap: var(--gap);
    justify-content: end;
    align-items: center;
    font-size: 1rem;

    /* Grid Settings */
    display: grid;
    grid-auto-flow: column;
}

.user-notifications .user-image {
    height: 40px;
    border-radius: 45px;
}

.user-details {
    align-items: center;
    gap: var(--gap);
    display: grid;
    grid-template-columns: min-content 1fr;
}

.user-details .user-image {
    height: 50px;
    border-radius: 45px;
}

.user-actions {
    justify-content: end;
    align-items: center;
    gap: var(--gap);
    display: grid;
    grid-auto-flow: column;

}

.user-actions button {
    border: none;
    height: 40px;
    width: 100px;

    color: white;
    background-color: var(--dashboard-bg-color);
    border-radius: 20px;
}


.projects {
    grid-area: 2/2/4/2;
    padding: var(--padding);
    gap: var(--gap);

    /* Grid Settings */
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.card-list {
    gap: var(--gap);

    /* Grid Setting */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    border-radius: 10px;
    overflow: hidden;
    background-color: white;

    /* Grid Settings */
    display: grid;
    grid-template-columns: 15px 1fr;
}

.card-content {
    padding: var(--padding);
    text-align: start;
    text-decoration: none;

    /* Grid Setting */
    display: grid;
    grid-template-rows: 2rem 1fr 2rem;
}

.card-color-decoration {
    background-color: #fcb624;
}

.card-actions {
    /* Grid Settings*/
    display: grid;
    grid-template-columns: repeat(3, min-content);
    align-items: center;
    justify-content: end;
    gap: var(--gap);
}

.card-actions img {
    height: 20px;
}

.news {
    grid-area: 2/3/2/4;
    gap: var(--gap);
    padding: var(--padding);

    /* Grid Settings */
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.news-board {
    gap: var(--gap);
    padding: var(--padding);
    background-color: white;
    border-radius: var(--border-radius);
    display: grid;
}

.news-card {
    overflow: hidden;
    padding: var(--padding);
    display: grid;
    grid-template-rows: 2rem 3rem;
}

.news-card h2 {
    text-wrap-mode: nowrap;
}

.division {
    height: 2px;
    background-color: gray;
    border-radius: 10px;
}


.trending {
    grid-area: 3/3/4/4;
    gap: var(--gap);
    padding: var(--padding);

    /* Grid Settings */
    display: grid;
    grid-template-rows: 2rem 1fr;
}

.trending-list {
    padding: var(--padding);
    gap: var(--gap);
    background-color: white;
    border-radius: var(--border-radius);
    display: grid;
    grid-template-rows: repeat(4, min-content);
}

.user-card {
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50px 2fr;
    grid-template-rows: repeat(2, 1fr);
}

.user-card img {
    height: 50px;
    border-radius: 20px;
    grid-area: 1/1/3/2;
}

.user-card h3 {
    font-size: 1rem;
    grid-area: 1/2/1/3;
}

.user-card p {
    font-size: 1rem;
    color: rgb(136, 136, 136);
    grid-area: 2/2/3/3;
}